mqtt.json
[{ "id": "55e6de4d.2ad3b", "type": "tab", "label": "MQTT", "disabled": false, "info": "" }, { "id": "1e185174.e8491f", "type": "aedes broker", "z": "55e6de4d.2ad3b", "name": "Auth:1883", "mqtt_port": 1883, "mqtt_ws_bind": "port", "mqtt_ws_port": "", "mqtt_ws_path": "", "cert": "", "key": "", "certname": "", "keyname": "", "dburl": "", "usetls": false, "x": 170, "y": 140, "wires": [
        []
    ] }, { "id": "84efd7e9.e38db8", "type": "aedes broker", "z": "55e6de4d.2ad3b", "name": "No Auth:1882", "mqtt_port": "1882", "mqtt_ws_bind": "port", "mqtt_ws_port": "", "mqtt_ws_path": "", "cert": "", "key": "", "certname": "", "keyname": "", "dburl": "", "usetls": false, "x": 170, "y": 240, "wires": [
        []
    ] }, { "id": "4cc63762.168358", "type": "mqtt in", "z": "55e6de4d.2ad3b", "name": "", "topic": "M262 Messages/#", "qos": "2", "datatype": "auto", "broker": "f9cb7e54.f21c6", "x": 200, "y": 380, "wires": [
        ["342d3415.2cc60c"]
    ] }, { "id": "71e355ca.41fadc", "type": "mqtt in", "z": "55e6de4d.2ad3b", "name": "", "topic": "M262 Messages/#", "qos": "2", "datatype": "auto", "broker": "54334fbb.a4e9", "x": 200, "y": 460, "wires": [
        ["4f9f7ddb.c92fb4"]
    ] }, { "id": "57b22721.ec1228", "type": "debug", "z": "55e6de4d.2ad3b", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 630, "y": 380, "wires": [] }, { "id": "4f9f7ddb.c92fb4", "type": "debug", "z": "55e6de4d.2ad3b", "name": "", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "false", "statusVal": "", "statusType": "auto", "x": 410, "y": 460, "wires": [] }, { "id": "342d3415.2cc60c", "type": "json", "z": "55e6de4d.2ad3b", "name": "", "property": "payload", "action": "", "pretty": false, "x": 410, "y": 380, "wires": [
        ["57b22721.ec1228", "596efcf8.da1cd4"]
    ] }, { "id": "596efcf8.da1cd4", "type": "link out", "z": "55e6de4d.2ad3b", "name": "", "links": ["37ff006a.5fcbc", "4c25bf07.c9a26"], "x": 565, "y": 320, "wires": [] }, { "id": "f9cb7e54.f21c6", "type": "mqtt-broker", "name": "", "broker": "localhost", "port": "1883", "clientid": "", "usetls": false, "compatmode": false, "keepalive": "60", "cleansession": true, "birthTopic": "", "birthQos": "0", "birthPayload": "", "closeTopic": "", "closeQos": "0", "closePayload": "", "willTopic": "", "willQos": "0", "willPayload": "" }, { "id": "54334fbb.a4e9", "type": "mqtt-broker", "name": "", "broker": "localhost", "port": "1882", "clientid": "", "usetls": false, "compatmode": false, "keepalive": "60", "cleansession": true, "birthTopic": "", "birthQos": "0", "birthPayload": "", "closeTopic": "", "closeQos": "0", "closePayload": "", "willTopic": "", "willQos": "0", "willPayload": "" }]