telegram-alarm-notif.json
[{"id":"2943f869.befaf8","type":"telegram receiver","z":"141ebbb3.59c1e4","name":"","bot":"ccb22bd6.5ba138","saveDataDir":"","filterCommands":false,"x":160,"y":120,"wires":[[],[]]},{"id":"6374e020.f4fc2","type":"function","z":"141ebbb3.59c1e4","name":"","func":"var mychatid = msg.payload.chatId;\n\nvar payload = { \n    chatId: mychatid,\n    type: \"document\",\n    content: \"/root/projects/iot-mqtt-nodered/timestamp-update.csv\" };\n    \nreturn {payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":120,"wires":[["9dacea8e.728238"]]},{"id":"9dacea8e.728238","type":"telegram sender","z":"141ebbb3.59c1e4","name":"","bot":"ccb22bd6.5ba138","haserroroutput":false,"outputs":1,"x":580,"y":120,"wires":[["9c5a233a.866be"]]},{"id":"9c5a233a.866be","type":"debug","z":"141ebbb3.59c1e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":120,"wires":[]},{"id":"ca7fffd5.8fea3","type":"telegram command","z":"141ebbb3.59c1e4","name":"","command":"/registeralarm","bot":"ccb22bd6.5ba138","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":70,"y":340,"wires":[["de2408a2.2e72b8","bbad08e9.5bf668","a9bebcff.64f42"],[]]},{"id":"b0c6a412.1e6cb8","type":"function","z":"141ebbb3.59c1e4","name":"","func":"var values = flow.get([\"username\", \"chatId\"]);\nvar username = values[0];\nvar chatid = values[1];\nmsg.username = username\nmsg.chatId = chatid\nvar registerdb = msg.payload;\nregisterdb[username] = chatid;\nmsg.payload = registerdb;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":300,"wires":[["a041b624.b9c998","2eaa525b.b8ee2e"]]},{"id":"79bf0470.eaf72c","type":"telegram command","z":"141ebbb3.59c1e4","name":"","command":"/sendupdate","bot":"ccb22bd6.5ba138","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":220,"y":60,"wires":[["6374e020.f4fc2"],[]]},{"id":"a9bebcff.64f42","type":"file in","z":"141ebbb3.59c1e4","name":"","filename":"/root/projects/iot-mqtt-nodered/chatid.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":400,"wires":[["df0628f3.09e128"]]},{"id":"a041b624.b9c998","type":"file","z":"141ebbb3.59c1e4","name":"","filename":"/root/projects/iot-mqtt-nodered/chatid.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":770,"y":300,"wires":[[]]},{"id":"df0628f3.09e128","type":"json","z":"141ebbb3.59c1e4","name":"","property":"payload","action":"","pretty":false,"x":600,"y":380,"wires":[["b0c6a412.1e6cb8"]]},{"id":"de2408a2.2e72b8","type":"debug","z":"141ebbb3.59c1e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":100,"y":260,"wires":[]},{"id":"bbad08e9.5bf668","type":"function","z":"141ebbb3.59c1e4","name":"flow set username & chatId","func":"var fname = msg.originalMessage.from.first_name;\nvar chatId = msg.payload.chatId;\nvar username = fname + '_' + chatId;\nflow.set([\"username\", \"chatId\"], [username, chatId]);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":300,"wires":[["b0c6a412.1e6cb8"]]},{"id":"846c802b.7e076","type":"inject","z":"141ebbb3.59c1e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":680,"y":260,"wires":[["a041b624.b9c998"]]},{"id":"98c6fc72.b82fb","type":"inject","z":"141ebbb3.59c1e4","name":"simulate error","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":540,"wires":[["dba5217e.803b3"]]},{"id":"32bee515.be71ea","type":"file in","z":"141ebbb3.59c1e4","name":"","filename":"/root/projects/iot-mqtt-nodered/chatid.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":580,"wires":[["8f44a64a.ea8f88"]]},{"id":"8f44a64a.ea8f88","type":"json","z":"141ebbb3.59c1e4","name":"","property":"payload","action":"","pretty":false,"x":120,"y":640,"wires":[["2825db2c.976774"]]},{"id":"2825db2c.976774","type":"function","z":"141ebbb3.59c1e4","name":"","func":"var registeredusers = msg.payload;\nvar chatIdArray = Object.values(registeredusers);\n\nvar temp = msg.tagvalues.temp;\nvar press = msg.tagvalues.press;\nvar current = msg.tagvalues.current;\n\n// msg.payload = {\n//     content: \"Alarm in machine due to \" + tag + \" of value: \" + tagvalue,\n//     type: \"message\",\n//     chatId: chatIdArray\n// }\n\nif (current > 3000) {\n    \n    msg.payload = {\n    content: `Alarm in machine is due to: \\n \n    current: ${current}A \\n\n    temp: ${temp}degC \\n\n    press: ${press}kPA`,\n    type: \"message\",\n    chatId: chatIdArray\n    }\n    \n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":640,"wires":[["9dacea8e.728238","dad05ad4.d6d1f8"]]},{"id":"2eaa525b.b8ee2e","type":"function","z":"141ebbb3.59c1e4","name":"","func":"msg.payload = {\n    type: \"message\",\n    content: msg.username + \" is successfully registered\",\n    chatId: msg.chatId\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":180,"wires":[["9dacea8e.728238","d287d1bf.1ade2"]]},{"id":"d287d1bf.1ade2","type":"debug","z":"141ebbb3.59c1e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":180,"wires":[]},{"id":"dba5217e.803b3","type":"function","z":"141ebbb3.59c1e4","name":"","func":"msg.tagvalues = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":520,"wires":[["32bee515.be71ea"]]},{"id":"5851aac8.582104","type":"debug","z":"141ebbb3.59c1e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":130,"y":780,"wires":[]},{"id":"f010b20f.75c92","type":"telegram command","z":"141ebbb3.59c1e4","name":"","command":"/unregisteralarm","bot":"ccb22bd6.5ba138","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":110,"y":860,"wires":[["5851aac8.582104","b6f43a3d.b3f998","efdc6d52.81b"],[]]},{"id":"b6f43a3d.b3f998","type":"function","z":"141ebbb3.59c1e4","name":"flow set username & chatId","func":"var fname = msg.originalMessage.from.first_name;\nvar chatId = msg.payload.chatId;\nvar username = fname + '_' + chatId;\nflow.set([\"username\", \"chatId\"], [username, chatId]);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":820,"wires":[["2f929e1.659d862"]]},{"id":"efdc6d52.81b","type":"file in","z":"141ebbb3.59c1e4","name":"","filename":"/root/projects/iot-mqtt-nodered/chatid.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":920,"wires":[["1d117689.550919"]]},{"id":"1d117689.550919","type":"json","z":"141ebbb3.59c1e4","name":"","property":"payload","action":"","pretty":false,"x":630,"y":900,"wires":[["2f929e1.659d862"]]},{"id":"2f929e1.659d862","type":"function","z":"141ebbb3.59c1e4","name":"","func":"var values = flow.get([\"username\", \"chatId\"]);\nvar username = values[0];\nvar chatid = values[1];\nmsg.username = username\nmsg.chatId = chatid\nvar registerdb = msg.payload;\ndelete registerdb[username]\nmsg.payload = registerdb;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":820,"wires":[["57a75491.4660bc","141e4083.6c104f"]]},{"id":"57a75491.4660bc","type":"file","z":"141ebbb3.59c1e4","name":"","filename":"/root/projects/iot-mqtt-nodered/chatid.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":800,"y":820,"wires":[[]]},{"id":"141e4083.6c104f","type":"function","z":"141ebbb3.59c1e4","name":"","func":"msg.payload = {\n    type: \"message\",\n    content: msg.username + \" is successfully unregistered\",\n    chatId: msg.chatId\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":700,"wires":[["9dacea8e.728238"]]},{"id":"dad05ad4.d6d1f8","type":"debug","z":"141ebbb3.59c1e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":700,"wires":[]},{"id":"37ff006a.5fcbc","type":"link in","z":"141ebbb3.59c1e4","name":"","links":["d309eac8.7c80f8"],"x":55,"y":460,"wires":[["dba5217e.803b3"]]},{"id":"ccb22bd6.5ba138","type":"telegram bot","botname":"SEMY_Industry_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]
